@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap');

#galerySection{
    background:linear-gradient(135deg, rgba(220, 220, 220, 1) 0%, rgba(245, 241, 237, 1) 75%);
    min-height:30rem;
    .row{
        padding-top:2.5rem;
        /* FILTERS */
        // sets yearFilters.jsx next to each other (n not one below the other)
        .MuiBox-root{ display: inline-block; }
        // avoids .MuiSlider-valueLabelOpen to be covered by the cards in tablet view
        .MuiSlider-root{ z-index: 2; }
        #filtersInnerContainer{
            padding: 1rem 1.5rem 1rem 1rem;
            border:1px solid #284b63;
            border-radius: 10px;
            .kmSpan{
                box-shadow: inset 0 0 0 0 #edede9;
                padding: 0 .25rem;
                transition: box-shadow .3s ease-in;
            }
            .kmSpan:hover{
                box-shadow: inset 200px 0 0 0 #edede9;
                cursor: pointer;
            }
            .activeKmRange{
                font-weight: 500;
            }
        }
        /* CARDS */
        .card{
            font-family: 'Heebo', sans-serif;
            text-align: center;
            margin-bottom:3.5rem;
            box-shadow: -5px 6px 5px #aaaaaa;
            .card-body{
                padding:0;
                .card-title{
                    font-size:1.7rem;
                }
                .list-group{
                    background-color:#d9d9d9;
                    border-radius:0px;
                    .list-group-item{
                        border:none;
                        background-color:#d9d9d9;
                    }
                }
                .containerML{
                    a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        padding: 1.5rem 0 1rem 0;
                    }
                    .logoML{
                        height:50px
                    }
                    &:hover
                    {
                        background-color: #e9ecef;
                        transition: 0.4s;
                    }
                }
            }
        }
    }
}

/***********************/
/*Phones and tablets*/
@media only screen and (max-width: 992px)
{
    #galerySection .row{
        justify-content: center;
        #cardCounter{
            text-align: center;
            margin-bottom:2rem;
        }
    }
}
/***********************/
/*Laptops and desktops*/
@media only screen and (min-width: 992px)
{
    #galerySection .row{
        justify-content: space-around;
        #filtersOuterContainer{
            position: -webkit-sticky;
            position: sticky;
            top: 2rem;
            margin-bottom:3.5rem; // matches margin-bottom card so they end at the same place of the section
        }
        #cardCounter{
            margin-top:0.5rem;
            padding-left:0.6rem;
        }
    }
}

