.card{
    text-align: center;
    margin-bottom:3.5rem;
    box-shadow: -5px 6px 5px #aaaaaa;
    .card-body{
        padding:1rem 0px 0px 0px;
        .list-group{
            background-color:#d9d9d9;
            border-radius:0px;
            .list-group-item{
                border:none;
                background-color:#d9d9d9;
            }
        }
        .containerML{
            padding: 1.5rem 0 1rem 0;
            .logoML{
                height:50px
            }
            &:hover
            {
                background-color: #e9ecef;
                transition: 0.4s;
            }
        }
    }
}
/***********************/
/*MEDIA QUERIES BEGGINING*/
/*Tablets, Laptops and Desktops*/
@media only screen and (min-width: 768px)
{
    .list-group{
        justify-content: space-around;
    }
}